.mobile-nav{
  .social-medias a{
    color: white !important;
  }
}
.social-medias{
  a {
    font-size: 1.3em;
    margin-right: 0.3em;
  }
}
.arrow-up{
  position: fixed;
  width: 20px;
  height: 20px;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

