@font-face {
    font-family: 'leaguespartan';
    src: url('../fonts/leaguespartan.eot');
    src: url('../fonts/leaguespartan.eot?#iefix') format('embedded-opentype'),
          url('../fonts/leaguespartan.woff2') format('woff2'),
          url('../fonts/leaguespartan.woff') format('woff'),
          url('../fonts/leaguespartan.ttf') format('truetype');
  }

  