//colors
$bg: #171717;
$orange: #feb76f;
$blue: #254963;
$red: #d6463e;
$darkred: #c6342d;
$white: #ffffff;
$mint: #23b6ab;
$lightmint: #31d9cc;
$f2: #fffff2;
$pink: #ff68a6;


//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$league: 'leaguespartan';

$desktop-breakpoint: 45rem;